:root {
  --primary: #091057;
  --bg: #697565;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* Navbar Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 1.4rem 7%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  text-wrap: nowrap;
}

.navbar .navbar-logo span {
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-nav {
  display: flex;
  list-style-type: none;
}

.navbar .navbar-nav a {
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scale(0.5);
}

.navbar .navbar-ekstra {
  display: flex;
  align-items: center;
}

.navbar .navbar-ekstra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-ekstra a svg {
  width: 2rem;
  height: auto;
}

.navbar .navbar-ekstra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}



/* media queris */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-flex;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 60px;
    right: -200px;
    background-color: #fff;
    width: 200px;
    height: 100vh;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar .navbar-nav a {
    width: 100%;
    padding: 1rem;
  }
  .navbar .navbar-nav a:hover {
    background-color: #697565;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}